<div class="header-container">
    <header class="header">

      <div class="header-left">
        <div class="logo">
          <a href="/">
            <i class="fa-brands fa-slack"></i>
          </a>
        </div>
        <nav class="nav-links">
          <a href="/">Home</a>
          <a href="/#">About</a>
          <a href="/admin">Admin</a>
        </nav>
      </div>

      <div class="header-right">
        <div class="profile">
          <i class="fas fa-user-circle profile-img"></i>
        </div>
        <div class="dropdown">
          <button title="Show profile" class="dropdown-btn" id="dropdown-btn">
            <i class="fas fa-caret-down"></i>
          </button>

          <!-- Profile Panel, included here -->
          <div class="dropdown-panel" id="dropdown-panel">
            <%- include ('./profilePanel.ejs') %>
          </div>

        </div>
      </div>
    </header>

    <hr class="header-line" />
</div>


<script>
  // Get the dropdown button and panel
  const dropdownBtn = document.getElementById('dropdown-btn');
  const dropdownPanel = document.getElementById('dropdown-panel');

  // Add a click event listener to toggle the visibility of the dropdown panel
  dropdownBtn.addEventListener('click', function() {
      // Toggle the "active" class to show/hide the panel
      dropdownPanel.classList.toggle('active');
  });
</script>