<div class="header-container">
    <header class="header">

      <div class="header-left">
        <div class="logo">
          <a href="/">
            <i class="fa-brands fa-slack"></i>
          </a>
        </div>
        <nav class="nav-links">
          <a href="/">Home</a>
          <a href="/#">About</a>
        </nav>
      </div>

      <div class="header-right">
        <div class="profile">
          <i class="fas fa-user-circle profile-img"></i>
        </div>
        <div class="dropdown">
          <button class="dropdown-btn">
            <i class="fas fa-caret-down"></i>
          </button>
          <!-- Optional dropdown panel content can be added here -->
        </div>
      </div>
    </header>

    <hr class="header-line" />
</div>
