<div class="container">
    <div class="form-container">
        <div class="form-content">
            <i class="fas fa-user-circle profile-img logo"></i>
            <h2 class="title">Sign Up</h2>
            <form class="login-form" method="POST" action="/signup">
                <input type="text" name="username" placeholder="Username" required class="input-field" />
                <input type="email" name="email" placeholder="Email" required class="input-field" />
                <input type="password" name="password" placeholder="Password" required class="input-field" />
                <button type="submit" class="btn-login">Sign Up</button>
            </form>
            <p class="signup-text">Already have an account? <a href="/login">Log In</a></p>
        </div>
    </div>
</div>